@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://www.bsr.org/images/heroes/bsr-travel-hero..jpg");
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;

}

.bg-container1 {
    background-image: url(https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2021/02/12104403/Ecotourism-Destination-2.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    
}



.button {
    color: rgb(8, 8, 8);
    background-color: #25b1cc;
    font-size: 18px;
    font-weight: bold;
    width: 138px;
    height: 36px;
    border-width: 0px;
    border-radius: 20px;
    background: transparent;
    border: 4px solid rgb(176, 14, 14);
    box-shadow: 0cap;
    position: relative;
    cursor: pointer;
}

.main-heading {
    font-family: "Roboto";
    font-weight: bold;
    color: #281d1d;
    font-size: 45px;

}

.paragraph {
    font-family: "Roboto";
    color: rgb(12, 12, 12);

}


.favourite-places-bg-container {
    background-color: lavender;
    background-size: cover;
    padding: 0;
    border-radius: 5px;
    margin: 0;

}

.favourite-places-heading {
    color: rgb(96, 3, 96);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;
    background: transparent;
    border: 3px solid purple;
    box-shadow: 0 0 10px  rgb(19, 19, 173);
}

.favourite-place-card-heading {
    color: #0e0add;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: rgb(1, 1, 1);
    font-family: "Roboto";
    font-size: 18px;
    background: transparent;
    font-weight: 300;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
    border-radius: 8px;
    margin: 3px;
}

.favourite-place-card-text-container {
    margin-right: 15px;
}


.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: cover;
    background-size: cover;
    padding: 5px;
}

.detailed-view-heading {
    color: red;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
    justify-content: center;
}

.detailed-view-card-container {
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 24px;
    background: transparent;
}

.detailed-view-card-heading {

    color: #f47b01;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
    background: transparent;

}

.detailed-view-card-description {
    color: Black;
    font-family: "Roboto";
    font-size: 18px;
}

.detailed-view-card-text-container {
    padding: 16px;
}

.imageplaces {
    justify-content: center;
    text-align: center;
    align-items: center;
    border-width: 0px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    background-size: cover;
    
}

.main-headingPlace {
    justify-content: center;
    color: white;
    text-align: center;
    height: 10vh;
    border-radius: 5px;
    font-family: "Caveat ";
    font-style: italic;
    background: transparent;
    border: 3px solid rgb(111, 111, 175);
}

.box{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    /*transform: translate(300px, 300px) rotate(120deg) skew(20deg, 10deg) scale(2);*/
    animation-name: change-location;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    animation-delay: 4s;
}

.map{
    color: red;
    font-size: 30px;
    font-weight: 700;
    border-radius: 6px;
    border: 3px solid rgb(red, green, blue);
    background: transparent;
    text-decoration: none;



}

.map-icon{
    height: 80px;
    width: 80px;
    padding: 5px;
}

.btn{
    width: 25vh;
    padding: 8px;
    font-size: 18px;
    font-family: "Bree Serif";
    margin: 16px;
}